<div class="card">
  <div class="card-body">
    <h5 class="card-title">Hospitales</h5>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-primary"  (click)="nuevo()" >Nuevo</button>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Direccion</th>
          <th scope="col">Fecha Creacion</th>
          <th scope="col" ></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let hospital of tableData">
          <th scope="row">{{ hospital.id }}</th>
          <td>
            {{ hospital.nombre }}
          </td>
          <td>{{ hospital.direccion }}</td>
          <td>{{ hospital.fechaCreacion }}</td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button title="Editar" class="btn btn-info btn-sm" (click)="edit(hospital)"><i class="fa fa-pen fa-lg"></i></button>
              <a title="Cargar" [routerLink]="['/hospital', hospital.id]" class="btn btn-warning btn-sm" ><i class="fa fa-eye fa-lg"></i></a>
              <button title="Eliminar" class="btn btn-danger btn-sm" (click)="delete(hospital)"><i class="fa fa-trash fa-lg"></i></button>
            </div>
            </td>
        </tr>
      </tbody>
    </table>

    <div class="d-flex justify-content-between p-2">
      <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
      </ngb-pagination>

      <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
        <option [ngValue]="2">2 items per page</option>
        <option [ngValue]="4">4 items per page</option>
        <option [ngValue]="6">6 items per page</option>
      </select>
    </div>

  </div>
</div>
